/vcpkg
/vcpkg_installed
/out
/.vs
/resources/mysql-8.4.10-winx64.zip
/resource.aps
resources/zip/mysql-8.4.10-winx64.zip
resources/zip/Redis-8.8.1-Windows-x64-cygwin.zip
/utils/out/build/Visual Studio Community 2026 Release - amd64
/utils/out/build/GCC 8.1.0 x86_64-w64-mingw32
/resources/web
/MysqlRedis.msix
/MSIX/LocalDataManager
