@import "./index.css";

:root {

    /* --sidebar: rgba(0, 0, 0, 0); */
    ::selection {
        @apply bg-primary text-primary-foreground;
    }

    ::-webkit-scrollbar {
        appearance: none;
        width: 9px;
        background: var(--color-background);
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--color-primary);
        cursor: pointer;
    }
}

.react-flow,
.react-flow__background {
    @apply bg-background/0;
}

.react-flow__panel.react-flow__controls {
    @apply m-2 overflow-hidden left-auto right-0 rounded-sm;
}

.react-flow__controls-button {
    @apply border-none bg-background;

    &:hover {
        @apply bg-primary;
    }
}

.react-flow__panel.react-flow__attribution {
    visibility: hidden;
}

.react-flow__handle {
    width: 9px;
    height: 9px;
    border: 1.2pt solid white;
    border-radius: 50%;
    background: var(--color-primary);
}